[user]
	name = Josh Lipps
	email = josh.lipps@lucidworks.com
[core]
	excludesfile = ~/.gitignore
	editor = atom --wait
[push]
	default = simple
[branch]
	autosetuprebase = always
[pull]
	rebase = true
